[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = {extras = ["pipfile"],version = "*"}
autopep8 = "*"
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
coverage-badge = "*"
pytest-factoryboy = "*"
autoflake = "*"

[packages]
django = "==2.2.12"
django-configurations = {extras = ["cache", "database", "email", "search"],version = "*"}
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
djangorestframework = "*"
coreapi = "*"
markdown = "*"
pygments = "*"
django-filter = "*"
pyyaml = "*"
uritemplate = "*"
